@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';

body {

  background-color: #f9f9f9;
  color: #565a69;
  font-family: "Open Sans";
   
}
.wrapper{
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

h1{
    
    font-size: 36px;
    font-weight: 300;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}
a:focus {
  outline: 0;
}
  
nav ul li a{
  display: block;
   
}
ul{
    list-style: none; 
}

*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing :border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  margin:0px;
  padding:0px;
}

header h1{
  margin: 30px 0px 85px 35px;
  color: #565a69;
}
.list h1,.comment h1{
  margin: 25px 0px 30px 30px;
}

.comment h1{
  margin: 25px 0px 30px 20px;
}
header{
  position: fixed;
  width: 271px;
  height: 100%;
  background-color: #2b2f3e;
}

header nav ul li a{
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 400;
  height: 57px;
  color: #565a69;
  width: 100%;
  background-color: #FF3852;
  color: #fff;
}


.content{
  position: relative;
  margin-left: 271px;
  height: 100%;
  padding: 35px 0px 35px 35px;
  
}

.list ul li{
  position: relative;
}
.list nav ul li a{
  display: block;
  margin-left: 30px;
  border-bottom: 1px solid #f4f4f4;
  font-weight: 600;
  font-size: 16px;

  color: #2B2F3E;
  padding: 15px 0px;
  position: relative;
  height: 53.5px;
  width: 430px;
}

.list nav ul li a:active::before,.list nav ul li a:focus::before{
  border-left: 5px solid #FF2F5A;
  content: "";
  position: absolute;
  height: 53.5px;
  top: 0;
  left: -33px;
}

.list{
  float: left;
  min-height: 523px;
  width:479px;
  background-color: #fff;
  /*padding: 25px;*/
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



.list form{
  padding: 0px;
  margin-left: 30px;
  margin-bottom: 10px;
  width: 430px;
  position: relative;
}

input[type="text"]{
  padding: 10px;
  font-size:16px;
  font-weight: 400;
  border-radius: 4px 4px;
  border: 1px solid #b3b3b3;
  outline:none;
  overflow: hidden;
  color: #b3b3b3;
  width: 290px;
  height: 37px;
}



ul li span{
  padding: 2px 10px;
  margin-left: 10px;
  width: 20.5px;
  color: #fff;
  text-align: center;
  background-color: #27ccc0;
  border-radius: 10.25px 10.25px;
  font-weight: 700;
  font-size: 13px;
}

.btn{
  font-size: 16px;
  border-radius: 4px 4px;
  width: 97px;
  height: 34px;
  
  color: #ff305a;
  background-color: #fff;
  border: 1px solid #ff305a;
  font-weight: 300;
  position: absolute;
  top: 10px;
  right:20px;
}

.btnadd{
  font-size: 16px;
  border-radius: 4px 4px;
  text-align: center;
  color: #fff;
  height: 37px;
  width: 132.5px;
  background-color: #27ccc0;
  border: 1px solid #fff;
  font-weight: 600;
  position: absolute;
  top: 0;
  right:-5px;
}
.comment{
  background-color: #fff;
  float: left;
  margin-left: 20px;
  min-height: 621px;
  width: 444px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.comments{
  margin: 15px 25px 15px 20px;
  
}
.comments ul li{
  padding-top: 10px;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  min-width: 400px;
  min-height:100px;
  
}
.comments ul li:last-child{
  border: none;
  margin-bottom: 15px;
}
.comments ul li p{
  margin-left:62px; 
  font-weight: 400;
  font-size: 12px;
  text-align: inherit;
  color: #666;
}

textarea{
  resize: none; 
  width: 335px;
  height: 70px;
  border: 1px solid #ccc;
  margin-left:62px; 
 }


.comments ul li div{
  width: 52px;
  height: 52px;
  position: absolute;
  top: 15px;
  left: 0px;
}

.comments form div{
  background-color: #e6e6e6;
  width: 52px;
  height: 52px;
  position: absolute;
}

.clear{
  clear: both;
}

