<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO SIMPLE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/main_css.css" rel="stylesheet" type="text/css"/>
        <script src="source/angular.min.js"></script>
        <script src="app/app.js"></script>
    </head>
<body ng-app="myApp">
<div class="wrapper" ng-controller="appCtrl">
   <header id="header">
    <h1>Main</h1>
    <nav class="main-nav">
        <ul>
            <li><a href="#" >Overview</a></li>
        </ul>
    </nav>
   </header>
   <section class="content">
      <section class="list">
          <h1>Items</h1>
          <form name="inputItem" ng-submit="addTodo()" novalidate>
            <input type="text" name="item" placeholder="Type name here..." ng-model="todoText" required>
            <input type="submit" class="btnadd" value="Add new" ng-disabled="inputItem.item.$invalid&&inputComm.comment.$invalid">
          </form >
          <nav class="item-nav">
          <ul>
              <li ng-repeat="item in items track by $index" ng-click="selectItem($index)">
               <a href="#"> {{item.text}} <span>{{item.comments.length}}</span></a> 
                <input type="submit" class="btn" value="Delete" ng-click="archive($index)"> 
              </li>
          </ul>
          </nav>
      </section>
      <section class="comment">
          <h1>Comments #{{idItem+1}}</h1>
          <div class="comments">
          
          <ul>
            <li ng-repeat="item in items track by $index" ng-if="isSelected($index)" >
            <ul>
                <li ng-repeat="comm in item.comments track by $index">
                  <div ng-style="{'background-color':comm.color}"></div><p>{{comm.body}}</p>
                </li>
            </ul>
            </li>
          </ul>
          <div class="formcomm">
            <form name="inputComm"ng-submit="addComm()" novalidate>
               <div ></div>
               <textarea name="comment"rows="10" cols="45" name="text" ng-model="commText" wrap="soft|hard" required></textarea>
            </form>
          </div>
          </div>
      </section>
      <div class="clear"></div>
   </section>

    
</div>
</body>
</html>
